/* GLOBAL Start */

body {
    background: rgb(221, 221, 221);
    background: linear-gradient(0deg, rgba(221, 221, 221, 1) 0%, rgba(255, 255, 255, 1) 100%);
    margin-top: 0;
}

label {
    color: #67698C;
}

hr {
    height: 5px;
    width: 80%;
}

/* GLOBAL End */

/* HEADER Start */

header {
    text-align: center;
    position: sticky;
    top: 0;
    background-color: rgb(221, 221, 221);
}

header h1 {
    margin-top: 0;
}

/* HEADER End */

/* BUTTONS Start */

.btn {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000000;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #67698C;
    text-align: center;
    transition: all 0.2s;
}

.btn:hover {
    color: #000000;
    background-color: #67698C;
}

#options-wrapper {
    text-align: center;
}

/* BUTTONS End */

/* PLANNER Start */

.planner-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid #67698C;
    width: 50%;
}

.planner-input {
    display: inline-block;
    margin: 0 1rem;
}

.text-input {
    display: inline-block;
}

#planner-wrapper {
    text-align: center;
}

#planner-wrapper label {
    display: inline-block;
    text-align: right;
    width: 9ch;
}

/* PLANNER End */