/* GLOBAL Start */

hr {
    height: 5px;
    width: 80%;
}

/* GLOBAL End */

/* HEADER Start */

header {
    text-align: center;
}

/* HEADER End */

/* PLANNER Start */

.planner-section {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.planner-input {
    display: inline-block;
    margin: 0 1rem;
}

.text-input {
    display: inline-block;
}

#planner-wrapper {
    width: 100%;
    text-align: center;
}

#planner-wrapper label {
    display: inline-block;
    text-align: right;
    width: 9ch;
}

/* PLANNER End */